<% content_for :title do %>
	Dojo Homepage
<% end %>
<!--note that we still have to include script tags, but we don't have to cite the source -->
<% content_for :jquery_code do %>
<script type='text/javascript'>
 $(document).ready(function(){
  $('form').submit(function(){
   $.post($(this).attr('action'), $(this).serialize(),
    function(data){
     console.log(data);
    });
   return false;
  });
 });
</script>
<% end %>

<% content_for :body do %>
  <h1>Hello.  This is the body content for 'Dojo#index' </h1>
  <form action="/home" method="post">
   <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
   <input type="text" name="name" placeholder="Name" />
   <input type="text" name="email" placeholder="Email" />
   <input type='submit' value="Submit" />
  </form>
<% end %>