<% content_for :title do %>
  Dojo Seattle
<% end %>
<% content_for :jquery_code do %> 

<script type='text/javascript'>
 $(document).ready(function(){
  $('h1').fadeOut(3000);
 });
</script>
<% end %>
<% content_for :body do %>
  <h1>Hello.  This is the body content for 'Dojo#seattle' </h1>
<% end %>