<h1> Products </h1>
<table>
<% @products.each do |product| %>
	<tr>
	<td><%= product.name %> </td>
	<td><%= product.description %> </td>
	</tr>
<% end  %>
</table>

<h3> Create New Product </h3>
<form action='/products/' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label for="name"> Name: </label><input type='text' name='name' /><br/>
<label for="description"> Description: </label>  <textarea name='description'></textarea><br/>
  <input type='submit' value='Create' />
</form>
