<div class="container">
  <div class="input-group">
    <p>
      <label>Title:</label>
      <input type="text" name="post[title]">
    </p>
    <p>
      <label>Content:</label>
      <input type="text" name="post[content]">
    </p>
    <a class="btn btn-success" href="/posts/index">Submit</a>
  </div>
</div>