<div class="container">
	<h1> Create a new User </h1>

	<form action="/users/" method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<p><label for="user[first_name]"> First Name: </label><input type="text" name="user[first_name]"></p>
		<p><label for="user[last_name]"> Last Name: </label><input type="text" name="user[last_name]"></p>
		<p><label for="user[email_address]"> Email: </label><input type="text" name="user[email_address]"></p>
		<p><label for="user[password]"> Password: </label><input type="password" name="user[password]"></p>
		<input type="submit" value="Add New User">
	</form>
	<%= link_to 'Back', '/users' %>
</div>