<div class="container">
  <div class="input-group">
    <p>
      <label>Name:</label>
      <input type="text" name="user[name]">
    </p>
    <p>
      <label>Location:</label>
      <input type="text" name="user[location]">
    </p>
    <p>
      <label>Favorite Language:</label>
      <input type="text" name="user[language]">
    </p>
    <a class="btn btn-success" href="/users/index">Submit</a>
  </div>
</div>